extends layout 

block content 
    div(class="main-cont")
        h1=title 
        p #[strong Category:] #{category.name}
        p #[strong Description:] #{category.desc}

        if items.length
            p #[strong Delete the following items before you can delete the category:]
            ul 
                each item in items  
                    li 
                        a(href= "/store" + item.url) #{item.name}
                        br
                        | #{item.desc}
        else 
            p Do you really want to delete this Category?

            form(method="POST")
                div.form-group 
                    input#categoryid.form-control(type="hidden", name="categoryid", value=category._id)
                button.btn.btn-primary(type='submit') Delete 
