extends layout

block content
  div(class='main-cont')
    h1 #{title}
    p #[strong Category:] #{category.name}
    p #[strong Description:] #{category.description} 
    img(src=category.image_url width=250)
    if items 
      p Items present in category:
      ul 
        each item in items 
          li 
            a(href=`/store/items/${item.id}`)=item.name
    hr
    p 
    a(href="/store/categories/" + category.id + "/update") Update category
    p 
    a(href="/store/categories/" + category.id + "/delete") Delete category
    hr
    p 
    a(href="/store/categories/" + category.id + "/upload-img") Upload new image for this category
