extends layout

block content
  div(class='main-cont')
    h1 #{title}
    p #[strong Item:] #{category.name}
    p #[strong Description:] #{category.desc} 
    p #[strong Items in category:]
    ul 
        each item in items  
            li 
                a(href= "/store" + item.url) #{item.name}
                | #{item.desc}
    hr
    p 
    a(href="/store/" + category.url + "/update") Update category
    p 
    a(href="/store/" + category.url + "/delete") Delete category
