extends layout

block content
  div(class='main-cont')
    h1 #{title}
    p #[strong Item:] #{item.name}
    p #[strong Description:] #{item.description} 
    p #[strong Price:] $ #{item.price}
    p #[strong Quantity in stock:] $ #{item.stock_quant}
    p #[strong Category:] 
      a(href= "/store/categories/" + item.category_id) #{item.category} 
    img(src=item.image_url width=250)
    hr
    p 
    a(href="/store/items/" + item.id + "/update") Update item
    p 
    a(href="/store/items/" + item.id + "/delete") Delete item
    hr
    p 
    a(href="/store/items/" + item.id + "/upload-img") Upload new image for this item
