extends layout

block content
  div(class='main-cont')
    h1 #{title}
    p #[strong Item:] #{item.name}
    p #[strong Description:] #{item.desc} 
    p #[strong Price:] $ #{item.price}
    p #[strong Category:] 
      a(href= "/store/" + item.category.url) #{item.category.name} 
    hr
    p 
    a(href="/store" + item.url + "/update") Update category
    p 
    a(href="/store" + item.url + "/delete") Delete category
